<div class="hero" id="hero">
  <div class="hero__info">
    <p>!Hola¡</p>
    <h1>Soy<br> Danilo Caro,</h1>
    <div class="hero__subtitle">
      <ngx-typed-js [backSpeed]="50" [backDelay]="1000" [startDelay]="0" [loop]="true" [typeSpeed]="100" [strings]="['Frontend developer', 'Software engineer', 'Angular developer']">
        <h2 class="typing"></h2>
      </ngx-typed-js>
    </div>
  </div>
  <div class="hero__img">
    <picture>
        <source srcset="./assets/img/photo/hero-img(max-600).webp" media="(max-width: 600px)">
      <img src="./assets/img/photo/hero-img(max-600).webp" alt="Danilo Caro photo">
    </picture>
  </div>
</div>

