<div class="menu">
  <div class="float-menu-grid">
    <div class="float-menu-grid__item">
      <a routerLink="/" class="float-menu-grid__icon">
        <img src="./assets/img/home.svg" alt="">
        <span>Inicio</span>
      </a>
    </div>
    <div class="float-menu-grid__item">
      <a routerLink="/" fragment="education" class="float-menu-grid__icon">
        <img src="./assets/img/education.svg" alt="">
        <span>Educación</span>
      </a>
    </div>
    <div class="float-menu-grid__item">
      <a routerLink="/" fragment="myprojects" class="float-menu-grid__icon">
        <img src="./assets/img/projects.svg" alt="">
        <span>Proyectos</span>
      </a>
    </div>
  </div>
</div>
