<div class="menu">
  <div class="float-menu-grid">
    <div class="float-menu-grid__item">
      <a href="/home#hero" class="float-menu-grid__icon">
        <img src="./assets/img/home.svg" alt="">
        <span>Home</span>
      </a>
    </div>
    <div class="float-menu-grid__item">
      <a href="/home#myprojects" class="float-menu-grid__icon">
        <img src="./assets/img/projects.svg" alt="">
        <span>Projects</span>
      </a>
    </div>
    <div class="float-menu-grid__item">
      <a href="/home#education" class="float-menu-grid__icon">
        <img src="./assets/img/education.svg" alt="">
        <span>Educación</span>
      </a>
    </div>
  </div>
</div>
