.myskills {
  width: calc(100% - 60px);
  margin:0px 30px 0px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  // display: flex;
  // flex-direction: row;
  // overflow-x: scroll;
  // overflow-x: scroll;
  // align-items: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  & .myskills__title {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin:61px 0px 38px 0px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (min-width: 600px) {
  .myskills {
    // width: calc(50% - 60px);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
@media screen and (min-width: 700px) {
  .myskills {
    & .myskills__title {
      font-size: 36px;
    }
  }
}
@media screen and (min-width: 800px) {
  .myskills {
    // width: calc(50% - 60px);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
@media screen and (min-width: 1000px) {
  .myskills {
    grid-template-columns: 1fr 1fr 1fr;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
@media screen and (min-width: 1300px) {
  .myskills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    overflow-y: hidden;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}
