.myskills {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10px;
  & .myskills__title {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin:61px 0px 38px 0px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (min-width: 600px) {
  .myskills {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
@media screen and (min-width: 700px) {
  .myskills {
    & .myskills__title {
      font-size: 36px;
    }
  }
}
@media screen and (min-width: 800px) {
  .myskills {
    margin: 0px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
@media screen and (min-width: 900px) {
  .myskills {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
@media screen and (min-width: 1050px) {
  .myskills {
    grid-template-columns:repeat(4 ,1fr);
    height: auto;
    overflow-y: hidden;
    & .myskills__title {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}
@media screen and (min-width: 1300px) {
  .myskills {
    gap: 40px;
  }
}
