<ng-container *ngIf="proj !== null && proj !== undefined">
  <div class="project-card">
    <div class="project-img">
      <img [src]="proj.img" [alt]="proj.title" />
      <!-- <h3>{{ proj.title }}</h3> -->
    </div>
    <div class="project-info">
      <h3>{{ proj.title }}</h3>
      <p>{{ proj.description }}</p>
      <div class="project-info__bottom">
        <span>Status</span>
        <span>Fecha inicio - fin</span>
      </div>
      <!-- <details>
        <summary>Descripción</summary>
        {{ proj.description }}
      </details>
      <p>Tecnologías<br>{{ proj.skills.join(", ") }}</p>
      <div class="project-info__grid-icons">
        <a href="https://github.com/DaniloCaro" target="_blank" rel="noopener noreferrer">
          <img src="./assets/img/github.svg" alt="" />
          <span>Repositorio</span>
        </a>
        <a [href]="proj.link" target="_blank" rel="noopener noreferrer">
          <img src="./assets/img/web-external.svg" alt="" />
          <span>Despliegue</span>
        </a>
      </div> -->
    </div>
  </div>
</ng-container>
