<ng-container *ngIf="proj !== null && proj !== undefined">
  <div class="project-card">
    <a routerLink="/project/{{proj.title}}" routerLinkActive="active" ariaCurrentWhenActive="page">
      <div class="project-img">
        <img [src]="proj.imgsource.max600" [alt]="proj.title" />
      </div>
      <div class="project-info">
        <h3>{{ proj.title }}</h3>
        <p>{{ proj.description }}</p>
        <div class="project-info__bottom">
          <span>{{proj.status}}</span>
          <span>{{proj.date | date:'mediumDate'}}</span>
        </div>
      </div>
    </a>
  </div>
</ng-container>
