<ng-container *ngIf="proj !== null && proj !== undefined">
  <div class="project-card">
    <div class="project-img">
      <img [src]="proj.img" alt="" />
      <h3>{{ proj.title }}</h3>
    </div>
    <div class="project-info">
      <details>
        <summary>Descripción</summary>
        {{ proj.description }}
      </details>
      <!-- <details>
        <summary>Skills</summary>
        {{ proj.skills.join(", ") }}
      </details> -->
      <p>Skills<br>{{ proj.skills.join(", ") }}</p>
      <div class="project-info__grid-icons">
        <a href="https://github.com/DaniloCaro" target="_blank" rel="noopener noreferrer">
          <img src="./assets/img/github.svg" alt="" />
          <span>Repo</span>
        </a>
        <a [href]="proj.link" target="_blank" rel="noopener noreferrer">
          <img src="./assets/img/web-external.svg" alt="" />
          <span>Deploy</span>
        </a>
      </div>
    </div>
  </div>
</ng-container>
