.project-card {
  width: 315px;
  height: auto;
  border-radius: 10px;
  background: linear-gradient(180deg, #171A1B 0%, rgba(23, 26, 27, 0) 100%);
  margin-bottom: 61px;
  transition: all 0.5s ease;
}
.project-img {
  display: flex;
  justify-content: center;
  position: relative;
    width: 315px;
    height: 170px;
    object-fit: cover;
    & > img {
    display: block;
    max-width: 774px;
    width: 315px;
    height: 170px;
    object-fit: cover;
    max-height: 423px;
    margin-bottom: 19px;
    border-radius: 10px 10px 0 0;
  }
  & > h3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color:#000;
    text-align: center;
    background-color: rgba($color: #FFF, $alpha: 0.8);
  }
}
.project-info {
  width: 315px;
  font-style: normal;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
  & > h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
    padding: 0 20px;
  }
  & > p , details {
    width: 315px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  & summary {
    cursor: pointer;
  }
  & > div > a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0EE6B7;
  }
  & > .project-info__grid-icons {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 0 20px 0;
  }
  & > .project-info__grid-icons > a {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px solid transparent;
    &:hover {
      background-position: 100% 0;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      border: 1px solid #0EE6B7;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 1);
      background-size: 300% 100%;
    }
  }
  & > .project-info__grid-icons > a > img {
    width: 24px;
    height: 24px;
  }
  & > .project-info__grid-icons > a > span {
    color: #fff;
    font-size: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .project-card {
    filter: brightness(0.7);
    &:hover {
      transform: translateY(-10px);
      filter: brightness(1);
      background-color: rgba(66,70,87,1);
    }
  }
}


