<div class="home-container">
  <div class="home__grid--top">
    <app-social-media-grid></app-social-media-grid>
  </div>
  <app-hero></app-hero>
  <app-experience></app-experience>
  <app-myprojects></app-myprojects>
  <p>¡Me gustaría tener tu contacto!</p>
  <div class="home__grid--bottom">
    <app-social-media-grid></app-social-media-grid>
  </div>
  <h3>¿Tenes un proyecto en mente? ¡Hagamoslo realidad!</h3>
  <a href="">danilocaro23@gmail.com</a>
  <span></span>
  <app-footer></app-footer>
</div>
